@import url('https://fonts.googleapis.com/css?family=Jua|Share:400,700|Song+Myung&display=swap');

.GitGuide__Wrapper {
    margin: auto;
    width: 70%;
    background-color: white;
    margin-bottom: 5vh;
}

.GitGuide__Quiz {
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 720px) {
    .GitGuide__Wrapper {
        width: 100%;
    }
}