@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Shadows+Into+Light&display=swap');

.addTask-box {
    display: inline-block;
    border: none;
    width: 100%;
    bottom: 0;
    position: relative; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.taskTitle {
    display: inline-block;
}

.addTask {
    font-size: 1rem;
    width: 100%;
    font-weight: bold;
    display: inline-block;
    border: none;
    background: rgb(0, 75, 141);
    color: white;
    padding: 10px;
    text-align: right;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.addTask-box:hover {
    background: white;
}

.addTask:hover {
    background: rgb(16, 24, 32);
    transition: 0.25s;
    color: white;
    cursor: pointer;
}

