/* modal test */
.taskModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 1);
    background-color: rgba(0,0,0,0.4);
    transition: 0.25s;
}

.taskModal-title {
    width: 100%;
    height: 50px;
    border: none;
    background: #f7f7f7;

}

.taskModal-titleInput[type="text"] {
    all: initial;
    * {
        all: unset;
        }
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    display: inline-block;
    width: 87.4%;
    height: 100%;
    overflow: hidden;
    padding-left: 10px;
    font-size: 2rem;
    font-weight: 1000;
    
}

.taskModal-titleInput:hover {
    cursor: pointer;
    background: #EBEBEB;
}

.taskModal-titleInput:focus {
    border: 1px solid rgba(0, 75, 141, 1);
    padding-bottom: 0;
}

.taskModal-closeBtn {
    border-radius: 50%;
    position: absolute;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.taskModal-closeBtn:hover {
    cursor: pointer;
    background: rgba(0, 75, 141, 0.8);
    transition: 0.25s;
    color: white;
}

.taskModal-closeBtn-wrapper {
    padding: 5px;
    font-size: 1.25rem;
    width: 50px;
    height: 50px !important;
    line-height: 40px;
    text-align: center;
}

.taskModalContent {
    background-color: #f7f7f7;
    margin: auto;
    padding: 20px;
    padding-right: 30px;
    border: 1px solid #888;
    width: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.taskModalClose {
    font-size: 3rem;
    text-align: center;
    line-height: 10px;
    width:20px;
    height:20px;
    margin-bottom: 20px;
    margin-left: auto;
}

.taskModalClose:hover {
    color: #342800;
}

.taskModal-content {
    display: flex;
}

.taskModal-content-left {
    width: 74%;
    padding-right: 25px;
}

.taskModal-content-right{
    width: 26%;
    margin-top: 25px;
    padding-left: 25px;
}

.taskModal-contentTitle {
    margin-top: 25px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #004b8d;
    border-bottom: 1px solid #004b8d;
}

.tagList-box {
    margin-left: 10px;
}

.tag-list-body {
    display: flex;
    width: 100%;
    height: 35px;
}

.tag-list {
    display: flex;
}

.tag-list-title {
    margin-top: 25px;
}

.tag-list-add {
    outline: none;
    width: 74px;
    border: none;
    background: rgba(0, 75, 141, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    font-size: 0.74rem;
    font-weight: 700;
    color: #fff;
}

.tag-list-add:hover {
    cursor: pointer;
    background-color: rgba(0, 75, 141, 1);
    box-shadow: 0px 15px 20px rgba(0, 75, 141, 0.5);
    color: #fff;
}

.tag-list-add:active {
    outline: none;
    transform: translateY(-2px);
    transition: 0.1s;
}

.taskModal-description {
    margin-left: 10px;
    margin-top: 25px;
}

.taskModal-textarea {
    width: 100%;
    height: 100px;
    overflow: auto;
    padding: 8px;
    padding-bottom: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

.tag-each {
    // display: inline-block;
    width: 96px;
    height: 100%;
    border: none;
    // background: rgba(0, 75, 141, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    font-size: 0.74rem;
    font-weight: 700;
    color: #fff;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.tag-content {
    font-size: 1rem;
    text-align: center;
    margin: 0 !important; 
}

.taskModal-textarea {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
}

.taskModal-textarea:focus {
    border: 1px solid rgba(0, 75, 141, 1);
}

.tag-list-add-modal {
    // display: none;
    position: relative;
    background: grey;
    width: 1500px;
    height: 30px;
    z-index: 2000;
}

.taskModal-content-btn {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;

    outline: none;
    border: none;
    background: rgba(0, 75, 141, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}
.taskModal-content-btn:active {
    outline: none;
    transform: translateY(-2px);
    transition: 0.1s;
}

.taskModal-content-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 75, 141, 1);
    box-shadow: 0px 15px 20px rgba(0, 75, 141, 0.5);
    color: #fff;
}

.taskModal-members {
    margin-left: 10px;
}

.taskModal-members-list {
    display: flex;
}

.taskModal-member-image-box {
    width: 50px;
    height: 50px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
    border-radius: 50% !important;
    margin-right: 5px;
}

.taskModal-member-image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.taskModal-member-name {
    visibility: hidden;
    display: inline-block;
    width: 100px !important;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: relative;
    z-index: 1;
    bottom: 0%;
    left: 0%;
    // margin-left: -60px;
}

.taskModal-member-name::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.taskModal-member-image-box:hover .taskModal-member-name {
    visibility: visible;
}

.taskModal-content-store {
    // text-align: left;
}

.taskModal-content-add-member-modal {
    // display: none !important;
    background: white;
    width: 250px;
    // height: 400px;
    position: absolute;
    z-index: 10;
    display: inline-block;
    top: 20%;
    left: 70%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    // top: 100%;
}

.taskModal-content-add-member-name {
    // display: inline-block !important;
    margin-left: 10px;
    width: 60%;
}

.taskModal-content-add-member-image-box {
    // display: inline-block !important;
    // width: 20%;
}

.taskModal-member-add-box {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.taskModal-member-add-box:hover {
    cursor: pointer;
    color: white;
    background: rgb(255, 68, 102) !important;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-2px);
}

.taskModal-member-add-box:active {
    background: black !important;
}

.taskModal-content-add-member-title {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px !important;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.taskModal-content-add-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 20%;
    font-size: 1.25rem;
}

