.GitHeader {
    background-color: rgb(0, 107, 56);
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.GitHeader__Name {
    font-size: 3rem;
    color: whitesmoke;
    font-family: 'Share';
}