.GitHeader {
    // background-color: rgb(37, 40, 42);
    background-color: darkslategray;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.GitHeader__Name {
    font-size: 2em;
    color: darkorange;
    font-family: 'Share';
}

@media(min-width: 720px) {
    .GitHeader__Name {
        font-size: 3em;
    }
}