.Quiz__InputWrapper {
    margin: 5vh 8vw;
    padding: 4vh;
    background-color: darkslategrey;
    font-family: 'Share';
    font-size: 1em;
    border-radius: 5px;
    min-height: 30vw;
}

.TerminalPath {
    text-align: left;
    color: darkorange;
    margin-top: 0;
    margin-bottom: 0;
}

.PleaseSubmit {
    margin-top: 7px;
    font-family: 'Jua';
    font-weight: 400;
    padding-top: 1vh;
    padding-left: 1vw;
    color: white;
    font-size: 0.8em;
}

@media (min-width: 720px) {
    .Quiz__InputWrapper {
        font-size: 1.8em;
    }

    .PleaseSubmit {
        font-size: 0.8em;
    }
}