.card-wrapper {
    height: 350px;
    width: 200px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 30px 1px rgba(0,0,0,0.5);
    padding: 10px;
    margin: 10px 20px 10px 0;
    
    &:last-of-type {
        margin: 10px 0;
    }
}
