#root, #main {
    height: 100%; 
}
.main-wrapper {
    position: absolute;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.main-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: {
        image: url("https://source.unsplash.com/random/1600x900");
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    filter: blur(5px);
    transform: scale(1.1);
}
#main {
    position: relative;
    height: 100%;
    width: 100%;
}
a {
    color: white !important;
    &:hover, &:visited, &:active, &:link {
        text-decoration: none !important;
        color: rgba(255, 255, 255, 0.76) !important;
    }
    &:focus {
        outline: none !important;
    }
}